# BEGIN WordPress

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress


RewriteEngine On
RewriteCond %{HTTP_HOST} naanissupermart\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://naanissupermart.com/$1 [R,L]